body {
    margin: 0;
    background-color: bisque;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.launcherContainer {
    margin-top: 10px;
    text-align: center;
    background-color: bisque;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.launcherImage {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.launcherButton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.launcherButton img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}