#noButton:hover{
    opacity: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111c2e;
    background-image: url('stars.png');
}

.questionContainer {
    background-image: url('mainBackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: fit-content;        /* shrink container to content */
    max-width: 320px;          /* limit max width */
    margin: auto;
}

.questionImage {
    width: 500px;
    height: auto;
    margin-bottom: 20px;
}

.question {
    background-color: #99d5ef;
    color: #4f6c78;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    display: inline-block;     /* shrink to fit content */
    max-width: 250px;          /* limit max width */
    font-size: 1.2rem;         /* smaller font size */
    line-height: 1.3;          /* tighter line height */
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center; 
    font-family: 'Press Start 2P', monospace;
    
}

.button {
    font-family: 'press Start 2P', monospace;
    font-size: 10px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.button img {
    width: 50px;
    height: auto;
    display: block;
}

.buttonRow {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}